<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html >
            <head><title>
        Web Server Area
        </title></head>
        <body>
            Web Server Area. How did you get here ??
            API Documentaions - Hotel Management Webservices
        </body>
</html>